__backup.backup/
__deleted.deleted/
__Undo.undo/
*._a5wcmp*
componentInfo
componentTypeCache
PhoneGapProjects/Default/resources/config_6-21-19_18_42_58.bak
PhoneGapProjects/Default/resources/config_6-17-19_17_45_15.bak
PhoneGapProjects/Default/resources/config_6-17-19_18_37_54.bak
PhoneGapProjects/Default/resources/config_6-17-19_19_06_06.bak
PhoneGapProjects/Default/resources/config_6-18-19_13_03_48.bak
PhoneGapProjects/Default/resources/config_6-18-19_13_20_41.bak
PhoneGapProjects/Default/resources/config_6-18-19_14_13_58.bak
PhoneGapProjects/Default/resources/config_6-18-19_14_25_40.bak
PhoneGapProjects/Default/resources/config_6-18-19_14_37_17.bak
PhoneGapProjects/Default/resources/config_6-18-19_14_54_05.bak
PhoneGapProjects/Default/resources/config_6-18-19_15_08_11.bak
PhoneGapProjects/Default/resources/config_6-18-19_17_59_31.bak
PhoneGapProjects/Default/resources/config_6-19-19_03_36_39.bak
PhoneGapProjects/Default/resources/config_6-19-19_04_21_51.bak
PhoneGapProjects/Default/resources/config_6-21-19_06_43_48.bak
PhoneGapProjects/Default/resources/config_6-21-19_08_10_25.bak
PhoneGapProjects/Default/resources/config_6-21-19_08_11_44.bak
PhoneGapProjects/Default/resources/config_6-21-19_08_13_27.bak
PhoneGapProjects/Default/resources/config_6-21-19_18_31_12.bak
PhoneGapProjects/Default/resources/config_6-21-19_18_36_54.bak